// Global colors
$bg-black: #000001d7;
$txt-white: #fff;
$txt-transparent-white: #ffffffb7;
$border-gray: #e4dcd5;
$washed-red: #f95252;
//Global fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$poppins-font: "Poppins", Arial, sans-serif;

* {
  font-family: $poppins-font !important;
}
a {
  text-decoration: none;
  color: $txt-white;
  &:hover {
    color: $washed-red;
  }
}
html {
  font-size: 18px;
  padding: 0 !important;
}

.button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.8rem 2.2rem;
  color: $txt-white;
  background-color: #ffffff00;
  border: 2px solid $border-gray;
  &:hover {
    color: #000;
    background-color: $txt-white;
  }
}
.button.hmb-menu {
  width: 4rem;
  padding: 0;
  margin: 0;
  border: none;
  display: none;
  padding-right: 20px;
  &:hover {
    background-color: #ffffff00;
  }
}
body {
  padding: 0;
  margin: 0;
  .app {
    .section {
      min-height: 85vh;
    }
    .section.carousel-section {
      position: relative;
      min-height: 15rem;
      max-height: 20rem;
      height: max-content;
      .swiper .swiper-wrapper img {
        width: 150px;
      }
    }
    .carousel-section:after {
      font-size: 2rem;
      left: 50%;
      transform: translateX(-50%);
      top: 1.5rem;
      z-index: 1000;
      position: absolute;
      content: "Skills";
    }
    margin: 0;

    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //   NAV
    .navbar {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 2;
      height: 5vh;
      padding: 20px;
      font-weight: 400;
      color: $txt-white;
      background-color: #000000ce;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.514);

      ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding: 0;
        margin: 0;
        margin-right: 20px;
      }
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        img {
          width: 2rem;
          margin-right: 10px;
          margin-left: 10px;
        }
      }
    }
    //   MAIN
    .main {
      width: 100%;
      margin: 0;
      padding: 0;
      .section {
        margin: 0;
        width: 100%;
        height: 50vh;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .container {
          width: 45%;
        }
      }
      .section.banner-section {
        z-index: 0;
        height: 80vh;
        padding-top: 20vh;
        background: url("../assets/banner-bg.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        color: $txt-white;
        position: relative;
        overflow: hidden;
        @keyframes custom {
          0% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(50%);
          }
          100% {
            transform: translateX(0);
          }
        }
        &:before {
          z-index: 1;
          content: "";
          position: absolute;
          top: 0;
          left: -100%; /* Adjusted left to 0 */
          right: 0; /* Adjusted right to 0 */
          bottom: 0;
          background: radial-gradient(
            circle at center,
            #3f3f3fb2,
            #000,
            $bg-black
          );
          animation: custom 7s linear infinite;
        }

        .container.intro-cont {
          z-index: 3;
          padding-left: 8rem;
          padding-bottom: 4rem;
          h4 {
            font-weight: 700;
            color: $txt-transparent-white;
          }
          h2 {
            font-size: 2.6rem;
            font-weight: 700;
            line-height: 4rem;
            margin: 20px 0;
          }
          p {
            font-size: 0.8rem;
            color: $txt-transparent-white;
          }
          .button:hover a {
            color: #000;
          }
        }

        .container.banner-img {
          z-index: 1;
          width: 70%;
          height: 100%;
          background-image: url("../assets/VIKTOR_IVANOVSKI.png");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
        }
      }
      .section.about-section {
        height: 30rem;
        .about-me {
          padding: 25px;

          div {
            padding: 0 100px;
          }
        }
        .accordion {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          padding-right: 50px;
          .item {
            width: 100%;
            background: $bg-black;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            padding: 5px 15px;
            border-bottom: 4px solid #000;
            color: $border-gray;
            transform: transition 3s ease-in-out;
            box-shadow: 2px 2px 10px 1px #0000003d;
            &:hover {
              border-color: $washed-red;
              .number {
                color: $washed-red;
              }
            }
            &.open {
              transform: transition 3s ease-in-out;
              border-color: $washed-red;
            }
            .icon img {
              width: 20px;
            }
            .text {
              margin: 0;
              font-weight: 500;
            }
            .number {
              font-size: 1.3rem;
              margin: 0;
              font-weight: 600;
              &.open {
                color: $washed-red;
              }
            }
          }
          .content-box {
            font-size: 0.8rem;
            padding-left: 10px;
            color: #000000ab;
          }
        }
      }
      .section.carousel-section {
        width: 100%;
        z-index: 0;
        padding-top: 4.5rem;
        padding-bottom: 1rem;
        background: url("../assets/snow.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        color: $txt-white;
        position: relative;
        &:before {
          z-index: 1;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: radial-gradient(circle at center, #3f3f3fb2, #000, #000);
        }
        .swiper-button-next,
        .swiper-button-prev {
          color: $txt-white;
          fill: $txt-white;
        }
        .swiper-pagination-bullet-active {
          background-color: $txt-white !important;
        }
        .swiper-pagination-bullet {
          background-color: $txt-white !important;
        }
      }
      .section.projects-section {
        width: 100%;
        height: 100%;
        align-items: start;
        #projects {
          padding: 4rem 0;
          .tabs {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .tab-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 0;
          }
        }
      }
      .button-tab {
        cursor: pointer;
        margin: 0 1rem 4rem 1rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.8rem 2.2rem;
        color: #000;
        background-color: #ffffff00;
        border: 2px solid #000;
        &:hover,
        &.selected {
          color: $txt-white;
          background-color: #000;
        }
      }
      .project-card {
        position: relative;
        z-index: 1;
        width: 250px;
        padding: 25px;
        height: 200px;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: url("../assets/snow.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.514);
        &:hover {
          transform: scale(1.05);
          transition: all 300ms ease;
        }
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: radial-gradient(circle at center, #3f3f3fb2, #000);
          z-index: 2;
        }
        h4 {
          position: relative;
          color: $txt-white;
          z-index: 3;
        }
        img {
          z-index: 3;
          max-width: 100px;
        }
        a {
          z-index: 3;
          color: $txt-white;
          text-decoration: none;
        }
      }
    }

    .footer {
      position: relative;
      padding: 1.5rem 0;
      height: 100%;
      color: $border-gray;
      width: 100%;
      background: url("../assets/banner-bg.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;

      &:before {
        z-index: 2;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(circle at center, #3f3f3fb2, #000);
      }
      h5,
      p {
        z-index: 3;
        margin: 0;
        padding: 0;
      }
      .container {
        z-index: 3;
        ul {
          padding: 0;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 20px;
          img {
            padding: 0;
            width: 50px;
          }
        }
        &.icons {
          border-top: 1px solid $txt-white;
          img:hover {
            transform: scale(1.1);
            transition: all 300ms ease;
          }
        }
      }
    }
  }
}

// RESPONSIVE DESIGN

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
  .button.hmb-menu {
    display: block;
  }
  .button.hmb-menu.hmb-close {
    z-index: 12;
    position: absolute;
    top: -7vh;
    right: 0rem;
    width: 5rem;
    background-color: $washed-red;
  }
  body .app .navbar .nav-menu {
    display: none !important;
  }
  .navbar {
    position: relative;
    ul {
      padding-right: 0;
      margin-right: 0;
      &:hover {
        color: $washed-red;
      }
    }
  }
  .sub-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 9vh;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-image: url("../assets/snow.jpg");
    background-size: cover;
    ul {
      border-top: 1px solid $border-gray;
      padding: 0rem !important;
      height: 100%;
      padding-top: 12rem !important;
      margin: 0 2rem !important;
      position: relative;
      z-index: 12;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
      li {
        color: $txt-white;
        font-size: 3rem;
        &:hover {
          color: $washed-red;
        }
      }
    }
    &:before {
      z-index: 8;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(circle at center, #3f3f3fb2, #000, #000);
    }
  }
  .app .main #about .container.about-me div {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  body {
    .app {
      .navbar {
        gap: 0;
      }
      .main {
        .section.banner-section {
          flex-direction: column;
          .container.intro-cont {
            padding: 0;
            width: 80%;
            text-align: center;
          }
          .container.banner-img {
            background-position: center bottom;
          }
        }
        .section.about-section {
          flex-direction: column;
          justify-content: center !important;
          height: 100%;
          padding: 4rem 0;
          .about-me {
            padding: 0;
            width: 100%;
            div {
              padding: 0 1.5rem;
              text-align: center;
            }
          }
          .accordion {
            width: 100%;
            padding: 0;
            .item {
              padding: 0;
              gap: 0;
              justify-content: space-evenly;
            }
          }
        }
        .section.projects-section {
          #projects {
            .tabs {
              flex-direction: column;
              gap: 1rem;
              padding-bottom: 3rem;
              .button-tab {
                margin: 0;
                width: 80%;
              }
            }
          }
        }
      }
    }
  }
}
